/*
  Date: 2024-08-28
  File: index.html
Author: oknauta
*/

body
{
    padding: 10px;
    background-image: url("/oknauta/src/pointed_background.png");
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.game div *
{
    margin: 10px;
}

header a
{
    color: white;
    padding: 10px;
}
a
{
    text-decoration: none;
    color: rgb(128, 0, 0);
}


.box
{
    max-width: 80%;
    margin: 20px auto; 
    padding: 2em;
    box-shadow: 10px 10px green;
    background-color: black;
}

::-webkit-scrollbar
{
    width: 30px;
}

::-webkit-scrollbar-track
{
    background-color: rgb(216, 216, 216);
}

::-webkit-scrollbar-thumb
{
background: green; 
}

::-webkit-scrollbar-thumb:hover
{
background: rgb(0, 81, 0); 
}

footer.box
{
    max-width: 10em; margin: auto;
    
}

#main-section
{
    background-image: url('src/image_0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
}

#main-slogan
{
    font-size: clamp(40px, 8vw, 120px);
    text-align: center;
}